@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yekan';
    /* آدرس دقیق فایل نسبت به ریشه سایت */
    src: url('/static/fonts/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* اعمال فونت روی کل بادی */
@layer base {
    body {
        font-family: 'Yekan', sans-serif;
    }
}

.persian-num {
    font-feature-settings: "ss01";
}

/* --- استایل‌های جدید جدول (وسط‌چین) --- */
table th, table td {
    text-align: center !important;
    vertical-align: middle !important;
}

/* استثنا: ستون اول (نام) معمولاً راست‌چین باشد زیباتر است */
table th:first-child, table td:first-child {
    text-align: right !important;
    padding-right: 1.5rem !important;
}

/* استایل اینپوت‌های پولی (فارسی و چپ‌چین) */
.money-input {
    font-family: 'Yekan' !important;
    direction: ltr; /* برای اینکه عدد منفی درست نمایش داده شود */
    text-align: left; 
    font-variant-numeric: tabular-nums;
    letter-spacing: 1px;
}